! Xft settings ---------------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

! transparency
!*inheritPixmap: true
!*transparent: true

! terminal colors ------------------------------------------------------------
#include ".Xresources.d/color/tomorrow-night"
!#include ".Xresources.d/color/solarized"
!#include ".Xresources.d/color/solarized-light"



! xterm ----------------------------------------------------------------------

! Font

xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 14

!xterm*VT100.geometry:     80x25
!xterm*faceName:           Terminus:style=Regular:size=9
!xterm*font:              -*-dejavu sans mono-9-r-*-*-9-*-*-*-*-*-*-*
!xterm*font:              -*-source code pro-9-r-*-*-9-*-*-*-*-*-*-*
!xterm*font:              -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*

! 256 color support for mutt
xterm*termName:           xterm-256color

xterm*dynamicColors:      true
xterm*utf8:               2
xterm*eightBitInput:      true
xterm*saveLines:          5120
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          false
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false
XTerm*selectToClipboard:  true

! xpdf -----------------------------------------------------------------------

xpdf*enableFreetype:    yes
xpdf*antialias:         yes
xpdf*foreground:        #eeeeec
xpdf*background:        #2e3436
xpdf*urlCommand:        /usr/bin/firefox %s
!xpdf*papercolor:        #2e3436

! xscreensaver ---------------------------------------------------------------

!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y

!xcalc-----------------------------------------------------------------------

xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #111111
xcalc.ti.bevel.screen.background:      #000000
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  White
xcalc.ti.Command.background:  #777777
xcalc.ti.button5.background:  Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
!uncomment to change label on division button
!xcalc.ti.button20.label:      /
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle

! Urxvt ----------------------------------------------------------------
!URxvt.font : -*-fixed-*-*-*-12-*-*-*-*-*-*-*
!URxvt.iconFile:    /usr/share/icons/Clarity/scalable/apps/terminal.svg

! transparency
!URxvt.depth: 32
!URxvt.background: [97]#2e3436


! Clickable URL
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:   1

!URxvt.keysym.C-Delete:  perl:matcher:last
!URxvt.keysym.M-Delete:  perl:matcher:list
!URxvt.colorUL: #4682B4
!urxvt.geometry:          54x15
URxvt.borderless:        true
urxvt*scrollBar:         false
!URxvt.scrollBar_right : False
!URxvt.scrollBar_floating : False
!URxvt.scrollstyle : plain
!## teh transparency stuff
!URxvt.inheritPixmap: true
!URxvt*transparent: false
!URxvt.tintColor: white
!URxvt.shading: 40
!URxvt.background: #262626
!URxvt.foreground: #497BF7

! urxvt tabs settings:

!URxvt.tabbed.tabbar-fg: #3465A4
!URxvt.tabbed.tabbar-bg: #2E3436
!URxvt.tabbed.tab-fg: #3465A4
!URxvt.tabbed.tab-bg: #555753
!URxvt.tabbed.autohide:  yes
!URxvt.tabbed.new-button:  no
!URxvt.tabbed.title: no
